<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TekarchSuite">

	<listeners>
        <listener class-name="com.Tekarch.listeners.TestEventListenersUtility"></listener>
    </listeners>
  <test thread-count="5" name="LoginTest">
    <classes>
      <class name="com.Tekarch.CRUD.ValidateLoginFunctionality"/>
       <class name="com.Tekarch.CRUD.ValidateAddAndDeleteData_Functionality"/>
    </classes>
  </test> <!-- LoginTest -->
</suite> <!-- TekarchSuite -->
